* {
    padding: 0;
    margin: 0;
}

.body {
    font-family: 'Space Grotesk', serif;
    font-weight: 400;
    font-style: normal;

}

/* Header*/

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.nav_bar a {
    padding-left: 1rem;
    color: #D5D7E5;
    text-decoration: none;
    font-size: 1.5rem;
}

header {
    background: #2D29D7;
    height: 100vh;
}

.header_container {
    margin-top: 3rem;
    margin-left: 7rem;
}

.slogan {
    font-family: 'Space Grotesk', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 53px;
    line-height: 65px;
    color: #EFF0F6;
}

.paragraph {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    margin-top: 2rem;
    color: #EFF0F6;
}

.header_container button {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    margin-top: 2rem;

    border-radius: 8px;
    border: 2px solid #2D29D7;
    width: 125px;
    height: 42px;

    text-align: right;
    color: #2D29D7;
    padding-right: 0.5rem;
}

/* Content container */

.content {
    width: 90%;
    margin: auto;
}

/* Trusted by section */

.clients {
    background: #F2F4F8;
}

.clients p {
    font-size: 24px;
    line-height: 16px;
    color: #000000;

    text-align: center;
    padding-top: 2rem;
}

.companies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

.clients img {
    padding: 0 1rem 0 1rem;
    width: 5%;
    height: 5%;
}

/* Statistic section */

.statistic {
    padding-bottom: 5rem;
    border-bottom: 2px solid #d8dee9;

}

.statistic_text {
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
    align-items: baseline;
}

.aside_title {
    font-size: 20px;
    line-height: 30px;
    color: #4F5664;
    padding-right: 2rem;
}

.title {
    font-size: 54px;
    line-height: 65px;
    color: #0A0D14;
}

.containers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4rem;
}


.container {
    border-width: medium;
}

.counter {
    font-size: 27px;
    line-height: 34px;
    color: #1E1C97;
}

.counter_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4F5664;
}

/* All in one platform */

.platform_intro {
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid #d8dee9;
}

.platform_text {
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
    padding-bottom: 5rem;
    align-items: baseline;
}


.section_paragraph {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #4F5664;
    padding-top: 2rem;
}

.text title {
    font-size: 54px;
    line-height: 65px;
    color: #0A0D14;
    padding-left: 2rem;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    background-color: #f8fafd;
    width: 35vh;
    min-height: 40vh;
    height: auto;
}

.card_title {
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 24px;
    text-align: center;
    color: #0A0D14;
    padding-bottom: 3vh;
}

.card_paragraph {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4F5664;
}

/*TODO: Add align item at the end of div*/
.card_text img {

    width: 25vh;
    height: 35vh;
}

/* Always on protection section */

.always_on_protection {
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid #d8dee9;
}

.always_on_protection_text {
    display: flex;
    flex-direction: row;
    margin-left: 7rem;
    padding-bottom: 5rem;
    align-items: baseline;

}

.section_paragraph {
    margin-bottom: 2rem;
}

.contact_us {
    font-family: 'Inter', serif;
    font-size: 14px;
    margin-top: 2rem;
    border-radius: 8px;
    border: 2px solid #2D29D7;
    width: 16vh;
    height: 6vh;
    text-align: right;
    color: #2D29D7;
    padding-right: 0.5rem;
    background-color: transparent;
}

.protection_subsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub_section {
    width: 30vh;
}

.sub_section_title {
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0A0D14;
    padding-bottom: 1vh;
}

.sub_section_paragraph {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */

    color: #4F5664;


}


/* Media */

.media{
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: 2px solid #d8dee9;
}

.media_card{
    margin: auto;
    width: 110vh;
    height: 60vh;
    border-radius: 4vh;
    background-color: #2d29d7;
    display: flex;
    flex-direction: column;
}

.media_card_img{
    width: 25vh;
    height: 25vh;
    padding-right: 4vh;
}

.media_card_body{
    width: 80%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    align-items: center;
}

.media_card_body_paragraph{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #EFF0F6;
}

.media_card_author{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #D5D7E5;
    border-left: 2px solid #d5d7e5;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1vh;

}
/* Footer */

footer {
    background: #000000;
}

.list_content {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-left: 20rem;
}

footer p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #EFF0F6;
    padding-bottom: 1rem;
}

footer img {
    width: 15%;
    height: 15%;
    padding-top: 1rem;
}

.section_title {

    color: #AEACFF;
}

.footer_bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.footer_bottom p {
    padding-left: 1rem;
}

.copyright {
    display: flex;

}